.app-container {
    min-height: 100vh;
    width: 100%;

    background-image: url('./assets/bgImage.svg');

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    background-color: var(--bg-main);

    background-blend-mode: overlay;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: auto;
}

/* =========================================
   PAGE TRANSITION
========================================= */

.page-fade-enter {
    animation: fadeIn 0.4s ease-out;

    width: 100%;
    min-height: 100vh;
}

@keyframes fadeIn {

    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* =========================================
   GLOBAL FIX
========================================= */

html,
body,
#root {
    min-height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
    overflow-y: auto;
}

/* =========================================
   CHAT LAYOUT ONLY
========================================= */

.app-layout {
    display: flex;

    height: 100vh;

    width: 100%;

    overflow: hidden;

    background-color: var(--bg-main);
}